<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poomoo.ohmygod">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainFragmentActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.WebViewActivity" />
        <activity android:name=".view.activity.SnatchRecordActivity" />
        <activity android:name=".view.activity.WinningRecordActivity" />
        <activity android:name=".view.activity.WinningRecord2Activity" />
        <activity android:name=".view.activity.ShowAndShareActivity" />
        <activity android:name=".view.activity.MyWithdrawDepositActivity" />
        <activity android:name=".view.activity.WithdrawDepositActivity" />
        <activity android:name=".view.activity.VerifyPhoneNumActivity" />
        <activity android:name=".view.activity.WithdrawDepositDetailsActivity" />
        <activity android:name=".view.activity.InStationMessagesActivity" />
        <activity android:name=".view.activity.MyShowActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.UserInfoActivity" />
        <activity android:name=".view.activity.VerifyPhoneNum2Activity" />
        <activity android:name=".view.activity.ChangePhone2Activity" />
        <activity android:name=".view.activity.ChangePhone3Activity" />
        <activity android:name=".view.activity.ChangeIdCardInfoActivity" />
        <activity android:name=".view.activity.IdCardInfoActivity" />
        <activity android:name=".view.activity.BankCardActivity" />
        <activity android:name=".view.activity.ChangeBankCardNumActivity" />
        <activity android:name=".view.activity.ChangeBankCardInfoActivity" />
        <activity android:name=".view.activity.ResetPassWordActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.LogInActivity" />
        <activity android:name=".view.activity.SelectActivity" />
        <activity android:name=".view.activity.CommodityInformationActivity" />

        <activity android:name=".view.activity.pics.ImageGridActivity" />
        <activity android:name=".view.activity.pics.PhotosActivity" />
        <activity android:name=".view.activity.pics.PhotoActivity" />
    </application>

</manifest>
